apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o k8s
    kompose.image-pull-policy: IfNotPresent
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: app-rest-api
  name: app-rest-api
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: app-rest-api
    spec:
      containers:
      - image: app-rest-api
        imagePullPolicy: IfNotPresent
        name: app-rest-api
        ports:
        - containerPort: 8888
        resources: {}
      restartPolicy: Always
status: {}
