apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o k8s
    kompose.image-pull-policy: IfNotPresent
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: app-db
  name: app-db
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: app-db
    spec:
      # nested pod definition
      containers:
      - env:
        - name: MYSQL_ROOT_PASSWORD
          value: password
        image: app-mysql
        name: app-mysql
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3306
        resources: {}
      restartPolicy: Always
status: {}
